<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ua.epam.spring.hometask.*"/>

    <bean name="admin" class="ua.epam.spring.hometask.domain.User">
        <property name="firstName" value="admin"/>
        <property name="email" value="admin@cinema.ua"/>
        <property name="type" value="ADMIN"/>
    </bean>

    <bean name="userDao" class="ua.epam.spring.hometask.dao.impl.UserDaoImpl"/>
    <bean name="eventDao" class="ua.epam.spring.hometask.dao.impl.EventDaoImpl"/>
    <bean name="auditoriumDao" class="ua.epam.spring.hometask.dao.impl.AuditoriumDaoImpl">
        <property name="auditoriums" ref="auditoriums"/>
    </bean>


    <bean name="theater" class="ua.epam.spring.hometask.main.Theater"/>

    <bean name="userService" class="ua.epam.spring.hometask.service.impl.UserServiceImpl"/>
    <bean name="eventService" class="ua.epam.spring.hometask.service.impl.EventServiceImpl"/>
    <bean name="auditoriumService" class="ua.epam.spring.hometask.service.impl.AuditoriumServiceImpl"/>

    <bean name="auditorium1" class="ua.epam.spring.hometask.domain.Auditorium">
        <property name="id" value="1"/>
        <property name="name" value="Red"/>
        <property name="numberOfSeats" value="10"/>
        <property name="vipSeats" value="0"/>
    </bean>
    <bean name="auditorium2" class="ua.epam.spring.hometask.domain.Auditorium">
        <property name="id" value="2"/>
        <property name="name" value="Blue"/>
        <property name="numberOfSeats" value="20"/>
        <property name="vipSeats" value="0"/>
    </bean>
    <bean name="auditorium3" class="ua.epam.spring.hometask.domain.Auditorium">
        <property name="id" value="1"/>
        <property name="name" value="Green"/>
        <property name="numberOfSeats" value="15"/>
        <property name="vipSeats" value="0"/>
    </bean>

    <util:map id="auditoriums" key-type="java.lang.Long" value-type="ua.epam.spring.hometask.domain.Auditorium">
        <entry key="#{auditorium1.id}" value-ref="auditorium1"/>
        <entry key="#{auditorium2.id}" value-ref="auditorium2"/>
        <entry key="#{auditorium3.id}" value-ref="auditorium3"/>
    </util:map>

</beans>